<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Realizado</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

   
    <div class="aqui">

        <div class="containermenu">
            <a href="/entrar"> <img src="images/TudoCerto.png" alt="" class="image_comeco"> </a>
         
           
        </div>

    
</body>
</html>