<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damas da noite</title>
    <link rel="stylesheet" href="/css/damas.css" />
    
</head>
<body>
    {{#banner}}
    <section class="banner" style="background-image: url('/images/menu.jpeg')"></section>
    <h2> {{title}}</h2>
    {{/banner}}
    
    <div class="container list">
       
            <div class="item">
                <img src="images/mulher1.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
            <div class="item">
                <img src="images/mulher2.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
            <div class="item">
                <img src="images/mulher3.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
            <div class="item">
                <img src="images/mulher4.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
            <div class="item">
                <img src="images/mulher5.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
            <div class="item">
                <img src="images/mulher6.jpeg" class="item--image" />
                <div class="item--name"></div>
                <div class="item--color">Nome: </div>
                <div class="item--genre">Idade: </div>
                <div class="item--genre">CLasse:</div>
            </div>
       
      
    
        </div>
    </div>



    
</body>
</html>