<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NightHome</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="aqui">

<div class="containermenu">
   <a href="/cadastro"> <img src="images/menu.jpeg" alt="" class="image_comeco"/>

    <audio src="" id="audio">
        <source src="/images">
    </audio>
</a>
   
</div>


{{>partials/footer}}




