{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('/images/menu.jpeg')"></section>
<h2> {{title}}</h2>
{{/banner}}

<div class="container list">
    
        <div class="item">
            <div class="containermaluca"></div>
        <div class="gif"></div>
        <div class="gif"></div>
        <div class="gif"></div>


            
           
            
        </div>
  

    </div>
</div>

 

{{>partials/footer}}

