<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night Home</title>
    <link rel="stylesheet" href="/css/page.css" />
  
</head>
<body>
<header>
    <div class="container">
        <a href="/" ><img src="images/logo.jpg" alt="" class="logo"/></a>
       
    </div>
</header>
<nav>
    <ul>
        <li class=""><a href="/damas">Damas</a></li>
        <li class=""><a href="/classes">Classes</a></li>
        <li class=""><a href="/puteiros">Casas noturnas abertas</a></li>
        <li class=""><a href="/cadastro/dama">Cadastrar damas</a></li>
        <li class=""><a href="/houseNight">Cadastrar puteiro</a></li>
        
    </ul>
</nav>